In [1]:
import pandas as pd

In [2]:
exams = pd.read_csv(r'..\data\code15\input\exams.csv')

In [3]:
exams.describe()

,exam_id,age,nn_predicted_age,patient_id,timey
count,3.457790e+05,345779.000000,345779.000000,3.457790e+05,233647.000000
mean,1.501461e+06,53.240495,54.099963,7.979436e+05,3.676905
std,1.106044e+06,19.695125,18.534262,5.494589e+05,1.874012
min,1.300000e+01,17.000000,-40.220116,1.000000e+00,0.000000
25%,6.332210e+05,37.000000,37.756269,2.653085e+05,2.104108
50%,1.261788e+06,54.000000,55.402687,7.741560e+05,3.457531
75%,1.997469e+06,70.000000,69.619270,1.283160e+06,5.208215
max,4.416614e+06,100.000000,106.895454,1.773689e+06,7.676706

In [4]:
exams = exams[exams['trace_file'] == 'exams_part0.hdf5']

In [5]:
len(exams)

20000

In [6]:
labels = pd.read_csv(r'..\data\code15\input\code15_chagas_labels.csv')

In [7]:
labels.head()

   exam_id  patient_id  chagas
0   418484       41150   False
1  3079871      155545   False
2  3071349     1309175   False
3  3070812     1312063   False
4   440411      649720   False

In [8]:
merged = pd.merge(exams, labels, on='exam_id')

In [9]:
merged[merged['chagas'] == True]

,exam_id,age,is_male,nn_predicted_age,1dAVb,RBBB,LBBB,SB,ST,AF,patient_id_x,death,timey,normal_ecg,trace_file,patient_id_y,chagas
60,2853920,76,False,82.674030,False,False,False,False,False,False,173792,NaN,NaN,False,exams_part0.hdf5,173792,True
69,54474,51,True,64.503730,False,False,True,False,False,False,148525,False,4.556161,False,exams_part0.hdf5,148525,True
86,3631492,59,False,51.174137,False,False,False,False,False,False,949656,False,5.375338,False,exams_part0.hdf5,949656,True
92,434158,75,True,66.997800,False,False,False,False,False,False,15504,NaN,NaN,False,exams_part0.hdf5,15504,True
170,360314,86,True,76.174100,False,False,False,False,False,True,145135,NaN,NaN,False,exams_part0.hdf5,145135,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19711,2926529,76,False,71.315200,False,True,False,False,False,True,148526,NaN,NaN,False,exams_part0.hdf5,148526,True
19730,782629,19,True,28.679802,False,False,False,False,False,False,448405,False,2.923285,True,exams_part0.hdf5,448405,True
19792,2795505,58,False,78.111670,False,False,False,False,False,False,1387497,False,6.887666,False,exams_part0.hdf5,1387497,True
19890,706073,75,False,86.690390,False,False,False,False,False,False,162941,NaN,NaN,False,exams_part0.hdf5,162941,True
19934,1133183,46,False,61.897950,False,False,False,False,False,False,161647,NaN,NaN,True,exams_part0.hdf5,161647,True